.user-button {
  padding: 5px;
  margin-right: 10px;

  background-color: transparent;
  border: 1px solid;
  border-radius: 4px;

  color: #FEE9E1;
}

.user-button:hover {
  background-color: #B09E99;
}
