#register-content
{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    overflow: hidden;
}

#register-container
{
    display: flex;
    flex-direction: column;

    width: 40%;
    height: 60%;

    background-color: #eee;
    border-radius: 4px;
}

#register-form-header
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#register-form-wrapper
{
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 10px;
}

#register-form
{
    display: flex;
    flex-direction: column;
}

#register-email-wrapper
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#register-username-wrapper
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#register-password-wrapper
{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#register-button-wrapper
{
    display: flex;
    justify-content: center;
}

#register-button
{
    border: none;
    background-color: #1d84e4;

    color: white;

    padding: 10px;
    border-radius: 4px;
}

#register-button:hover
{
    background-color: #1b75c9;
}

.register-input
{
    border: none;

    height: 2em;
}