.button {
  height: 2em;

  border: none;
  cursor: pointer;

  background-color: #FEE9E1;
}

.button:hover {
  background-color: #B09E99;
}

#sidebar-container {
  display: flex;
  flex-direction: column;

  width: 35%;
  max-width: 400px;

  height: 100vh;

  background-color: #64B6AC;
  background: linear-gradient(#64B6AC, #64b68a);
  color: #FEE9E1;

  overflow: hidden;

  transition: 0.5s ease-in-out;
}

#sidebar-wrapper {
  display: flex;
  flex-direction: row;
}

#handle {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  font-size: 2.5em;

  border-radius: 0 0 6px 0;

  background-color: #64B6AC;
  color: #FEE9E1;
}

#handle:hover {
  color: #B09E99;
}

#sidebar-content {
  display: flex;
  flex-direction: column;

  height: 100%;

  padding: 10px;
  color: #FEE9E1;
}

.section {
  margin-bottom: 20px;
}

#user-section {
  display: flex;
  flex-direction: row;

  flex-wrap: nowrap;
}

#user-section a {
  text-decoration: none;
  color: #FEE9E1;
}

#user-section a:hover {
  color: #B09E99;
}

#header-section {
  display: flex;
  flex-direction: row;
  align-items: center;

  justify-content: space-between;
}

#settings-button {
  font-size: 2em;
}

#settings-button:hover {
  filter: brightness(70%);
}

#search-section {
  display: flex;
  flex-direction: column;
}

#search-bar {
  background-color: #FEE9E1;
  height: 2em;
  border: none;

  margin-bottom: 5px;
}

#search-button {
  align-self: flex-end;
  width: 48%;
}

#pins-section {
  display: flex;
  flex-direction: column;

  margin: 0;

  height: 100%;
}

#pin-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#pin-select {
  background-color: #FEE9E1;
  height: 2em;
  width: 48%;
  border: none;

  margin-bottom: 5px;
}

#pin-button {
  width: 48%;
  margin-bottom: 5px;
}

#pins-list {
  display: flex;
  flex-direction: column;

  flex-grow: 1;

  width: 100%;

  overflow-y: scroll;

  background-color: #FEE9E1;
}
